@font-face {
  font-family: "Pixel Game";
  src: url("./fonts/Pixel\ Game.otf");
}
:root {
  --red: #c61a09;
  --blue: #0000ff;
  --gray: #cbccceff;
  --white: #ffffff;
}
body {
  font-family: "Pixel Game";
}
#title {
  margin-top: 5vw;
  font-size: 20vw;
  text-align: center;
  margin-bottom: 5vw;
}
#title:hover {
  cursor: pointer;
}
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.button {
  user-select: none;
  font-family: "Pixel Game";
  font-size: 8vw;
  cursor: pointer;
}

/* Start page items */
#start_left_div,
#start_right_div {
  padding: 2vw;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#start_left_title {
  font-size: 6vw;
}
#start_left_list {
  font-size: 4vw;
  list-style-type: square;
}
.start_right_q {
  font-size: 6vw;
}
#start_right_grid_1 {
  display: grid;
  grid-template-columns: 10vw 10vw;
  grid-template-rows: 10vw;
  gap: 2vw;
}
#start_right_grid_2 {
  display: grid;
  grid-template-columns: 10vw;
  grid-template-rows: 10vw;
}
.start_right_box {
  user-select: none;
  border: 1vw solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 10vw;
}
#circle:hover,
#cross:hover {
  cursor: pointer;
  background-color: var(--gray);
}
#checkbox:hover {
  cursor: pointer;
}

/* Game page items */
.game-left-div,
.game-right-div {
  flex: 1;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#board {
  display: grid;
  grid-template-rows: 25vw 25vw 25vw;
  grid-template-columns: 25vw 25vw 25vw;
}
.box {
  border: 1vw solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20vw;
}
#game_status {
  font-size: 6vw;
  text-align: center;
}
