@font-face {
  font-family: "Pixel Game";
  src: url("./Pixel\ Game.otf");
}

:root {
  --red: #c61a09;
  --blue: #0000ff;
}

body {
  font-family: "Pixel Game";
}

#title {
  margin-top: 5vw;
  font-size: 20vw;
  text-align: center;
  margin-bottom: 5vw;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left-div,
.right-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  display: grid;
  grid-template-rows: 25vw 25vw 25vw;
  grid-template-columns: 25vw 25vw 25vw;
}

.box {
  border: 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 10vw;
}

.buttons {
  text-align: center;
  padding: 40px;
}

.btn-hover {
  font-size: 10vw;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-8 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
