@font-face {
  font-family: "Pixel Game";
  src: url("./Pixel\ Game.otf");
}
* {
  font-family:'Pixel Game';
  background-color: yellow;
}
.game-board {
  display: grid;
  grid-template-rows: 125px 125px 125px;
  grid-template-columns: 125px 125px 125px;
}

.box {
  border: 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 100px;
}

.buttons {
  text-align: center;
  padding: 40px;
}

.btn-hover {
  font-size: 10vw;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}


.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
